div.theme-blue.adPops-container
	div.adPops-title
		div.back-home.theme-blue
			img.yc-logo(src=require('../../../public/images/yc_logo.png'))
			行业新闻
			i.iconfont.close-icon &#xe639;
		//-
			table
				tr
					each item,index in news
						-if(index==0)
							td.tabs.active!= item.title
						-else
							td.tabs!= item.title
	div.adPops-content
		div.content-box
			div.news-card
				div.news-title
					| 27日机构强推买入 6股极度低估
				div.news-summary
					| 杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万
				div.news-footer
					span.news-source 凤凰网财经
					span.news-time 2016-09-26
					div.news-tags
						span 小麦
						span 创业板
			div.news-card
				div.news-title
					| 27日机构强推买入 6股极度低估
				div.news-summary
					| 杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万
				div.news-footer
					span.news-source 凤凰网财经
					span.news-time 2016-09-26
					div.news-tags
						span 小麦
						span 创业板
			div.news-card
				div.news-title
					| 27日机构强推买入 6股极度低估
				div.news-summary
					| 杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万,杜士凯：填写损益表10万,高保帅：调查结论及建议7万,高保帅：填写损益表10万,王中良：调查结论及建议7万,王中良：填写损益表10万杜士凯：调查结论及建议10万
				div.news-footer
					span.news-source 凤凰网财经
					span.news-time 2016-09-26
					div.news-tags
						span 小麦
						span 创业板
		