div.theme-blue.adPops-container
	div.adPops-title
		div.back-home.theme-blue
			img.yc-logo(src=require('../../../public/images/yc_logo.png'))
			行业新闻
			i.iconfont.close-icon &#xe639;
		//-
			table
				tr
					each item,index in news
						-if(index==0)
							td.tabs.active!= item.title
						-else
							td.tabs!= item.title
	div.adPops-content
		div.news-card
			div.news-title
				| 27日机构强推买入 6股极度低估
			div.news-summary
				| 立思辰：教育生态再添新军估值与投资建议:我们预计百年英才将于2016年10月实现并表,1-8月百年英才实现净利润约730万元,预计9-12月业绩约770万元,并表后2016年对公司业绩贡献约570万元;相对公司全年业绩,百年英才对公司2016年业绩影响相对较小,我们暂不对公司业绩进行调整。预计201
			div.news-footer
				span.news-source 凤凰网财经
				span.news-time 2016-09-26
				div.news-tags
					span 小麦
					span 创业板
		div.news-card
			div.news-title
				| 27日机构强推买入 6股极度低估
			div.news-summary
				| 立思辰：教育生态再添新军估值与投资建议:我们预计百年英才将于2016年10月实现并表,1-8月百年英才实现净利润约730万元,预计9-12月业绩约770万元,并表后2016年对公司业绩贡献约570万元;相对公司全年业绩,百年英才对公司2016年业绩影响相对较小,我们暂不对公司业绩进行调整。预计201
			div.news-footer
				span.news-source 凤凰网财经
				span.news-time 2016-09-26
				div.news-tags
					span 小麦
					span 创业板
		div.news-card
			div.news-title
				| 27日机构强推买入 6股极度低估
			div.news-summary
				| 立思辰：教育生态再添新军估值与投资建议:我们预计百年英才将于2016年10月实现并表,1-8月百年英才实现净利润约730万元,预计9-12月业绩约770万元,并表后2016年对公司业绩贡献约570万元;相对公司全年业绩,百年英才对公司2016年业绩影响相对较小,我们暂不对公司业绩进行调整。预计201
			div.news-footer
				span.news-source 凤凰网财经
				span.news-time 2016-09-26
				div.news-tags
					span 小麦
					span 创业板
