@font-face {font-family: 'iconfont';
    src: url('../../public/stylesheets/iconfont/iconfont.eot'); /* IE9*/
  	src: url('../../public/stylesheets/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../public/stylesheets/iconfont/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.iconfont{
    font-family:"iconfont" !important;
	font-style:normal;
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.profile {
	font-size: 14px;
	font-family: '微软雅黑';
	width: 800px;
	margin: 0 auto;
	color:#555;
	-webkit-font-smoothing:antialiased;
}
.profile * {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.profile > .left-box {
    width: 150px;
    height: 603px;
    background: #29b6f6;
    float: left;
    border: 1px solid #03a9f4;
}
.profile > .left-box > .title-top {
	height: 150px;
	background: #03a9f4;
}
.profile > .left-box > .title-top .user-icon {
	height: 150px;
}
.profile > .left-box > .title-item {
	color: #fff;
  	background: rgba(255,255,255,0.2);
  	padding:8px;
  	border-bottom: 1px solid #03a9f4;
  	cursor:pointer;
}
.profile > .left-box > .title-item:hover,.profile > .left-box > .title-item.active {
	background: #fff;
	color: #555;
}
.profile > .right-box {
	float: left;
	width: 630px;
	height: 603px;
	border: 1px solid #03a9f4;
}
.profile > .right-box > .swiper-container {
	height: 603px;
}
.profile > .right-box > .info-card {
	border: 1px solid #f5f5f5;
	padding: 10px;
	margin-left: -1px;
	margin-bottom: -1px;
	text-align: center;
	position: relative;
	background: #fff;
}
.profile > .right-box > .info-card > .info-title {
	font-size: 18px;
  	font-family: "宋体";
  	font-weight: bold;
  	margin: 5px;
}
.profile > .right-box > .info-card > .user-icon {
	font-size: 100px;
}
.profile > .right-box > .info-card > .info-detail {
	text-align: left;
}
.profile > .right-box > .info-card > .info-detail .fr {
	float: right;
	font-weight: bold;
}
.profile > .right-box > .info-card > .info-detail table {
	width: 100%;
	border-collapse:collapse;
}
.profile > .right-box > .info-card > .info-detail tr {
	border-bottom: 2px solid #f8f8f8;
  	background: #ebebeb;
}
.profile > .right-box > .info-card > .info-detail > .info-item {
	background: #ebebeb;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
}
.detail-slide > .info-detail {
  	margin: 10px 40px;
}
.detail-slide > .info-detail.first-info {
  	margin-top:40px;
}
.detail-slide > .info-detail > .detail-title {
	background: #ebebeb;
  	padding: 8px;
}
.detail-slide > .info-detail > .info-table {
	width: 100%;
  	border: 1px solid #ebebeb;
  	padding: 10px;
}
.right-box .info-detail > .info-item {
	margin-right: 5px;
	margin-bottom: 5px;
	display: block;
}
.home-slide > .info-card {
	width: 210px;
	height: 201px;
	*width:199px;
	*height:190px;
	border: 1px solid #ebebeb;
	float: left;
	padding: 5px;
	margin-right: -1px;
	margin-bottom: -1px;
	position: relative;
	background: #fff;
}
.home-slide > .info-card > .info-detail table {
	width: 100%;
	border-collapse:collapse;
}
.home-slide > .info-card > .info-detail table span {
	font-weight: bold;
}
.home-slide > .info-card > .info-detail td {
	padding: 3px 0;
}
.home-slide .card-col2 {
	width: 420px;
	*width:410px;
	margin-left: -1px;
}
.home-slide .info-title {
	font-size: 14px;
  	font-family: "\5B8B\4F53";
  	font-weight: bold;
  	position: absolute;
  	bottom: 0;
  	right: 0;
  	padding: 5px 10px;
  	background: #ebebeb;
}