.blue-slide {
	background: #4390EE;
}
.red-slide {
	background: #CA4040;
}
.orange-slide {
	background: #FF8604;
}
.swiper-slide {
	height: 300px;
	color: #fff;
	font-size: 36px;
	text-align: center;
}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.banner1 {
  background:url('../public/images/banner1.jpg');
  background-position: 50% 50%;
}
.banner2 {
  background:url('../public/images/banner2.jpg');
  background-position: 50% 50%;
}
.banner3 {
  background:url('../public/images/banner3.jpg');
  background-position: 50% 50%;
}
.hot-title {
	margin-top: 20px;
	padding:15px;
	text-align: center;
	font-size: 16px;
	color:red;
  position: relative;
}
.hot-title i {
  margin-right: 5px;
  font-size: 20px;
}
.hot-title .split-line-left {
  position: absolute;
  left: 0;
  bottom: 8px;
  color: #ccc;
}
.hot-title .split-line-right {
  position: absolute;
  right: 0;
  bottom: 8px;
  color: #ccc;
}
.icon-like,.icon-liked {
  margin-left: 25px;
  font-size: 20px;
  color: red;
  cursor: pointer;
}
.use-count {
  margin-right: 20px;
}