extends layout
block content
	div.wrapper
		div.swiper-container
			div.swiper-wrapper
				div.swiper-slide.blue-slide slider1
				div.swiper-slide.red-slide slider2
				div.swiper-slide.orange-slide slider3
			div.pagination
		div.hot-template
			div.hot-title
				i.iconfont.split &#xe615;
				| 热门模版
			-for (var i = 2; i >= 0; i--) {
				div.template-list
					div.template-info
						table
							tr
								td 模版名称：小额贷款客户家庭经济情况调查模版
								td 所属行业：行业1
							tr
								td 上传人：牛志伟
								td 所属机构：机构1
							tr
								td 上传时间：2016-08-02 17:00
								td 来源：来源1
					div.template-tips
						span.remark
							| 小额贷款、经济情况调查
						span.fr
							span.preview 预览
							span.del 删除
			-}