extends ../../../layout
block content
	div.wrapper
		p.tips.tips-left
			| 您可以
			span.btn.online 使用该模版
			| 在线编辑，生成报告，
		p.tips.tips-right 
			| 也可以
			span.btn.download 下载该模版
			| 并离线编辑，生成报告
		//-
			div.template-info!= data.content
		div.template-info
			img(src=require('../../../../public/images/template.jpg'))
		div.generate-report
			span.btn 下一步
	div.help-card
		div.help-card-title
			i.iconfont.split &#xe601;
			span 有问题？看这里
		div.help-card-content
			li 
				a.btn-link 如何使用他人分享的模板
			li 
				a.btn-link 如何上传模板
			li 
				a.btn-link 如何分享模板
			li 
				a.btn-link 模板使用注意事项