<div id="sidebar-content">
  <ul id="nav">
    <li>
      <a href="index.html">
        <i class="icon-dashboard">
        </i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-desktop">
        </i>
        UI Features
        <span class="label label-info pull-right">
          6
        </span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="ui_general.html">
            <i class="icon-angle-right">
            </i>
            General
          </a>
        </li>
        <li>
          <a href="ui_buttons.html">
            <i class="icon-angle-right">
            </i>
            Buttons
          </a>
        </li>
        <li>
          <a href="ui_tabs_accordions.html">
            <i class="icon-angle-right">
            </i>
            Tabs &amp; Accordions
          </a>
        </li>
        <li>
          <a href="ui_sliders.html">
            <i class="icon-angle-right">
            </i>
            Sliders
          </a>
        </li>
        <li>
          <a href="ui_nestable_list.html">
            <i class="icon-angle-right">
            </i>
            Nestable List
          </a>
        </li>
        <li>
          <a href="ui_typography.html">
            <i class="icon-angle-right">
            </i>
            Typography / Icons
          </a>
        </li>
        <li>
          <a href="ui_google_maps.html">
            <i class="icon-angle-right">
            </i>
            Google Maps
          </a>
        </li>
        <li>
          <a href="ui_grid.html">
            <i class="icon-angle-right">
            </i>
            Grid
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-edit">
        </i>
        Form Elements
      </a>
      <ul class="sub-menu">
        <li>
          <a href="form_components.html">
            <i class="icon-angle-right">
            </i>
            Form Components
          </a>
        </li>
        <li>
          <a href="form_layouts.html">
            <i class="icon-angle-right">
            </i>
            Form Layouts
          </a>
        </li>
        <li>
          <a href="form_validation.html">
            <i class="icon-angle-right">
            </i>
            Form Validation
          </a>
        </li>
        <li>
          <a href="form_wizard.html">
            <i class="icon-angle-right">
            </i>
            Form Wizard
          </a>
        </li>
      </ul>
    </li>
    <li class="current open">
      <a href="javascript:void(0);">
        <i class="icon-table">
        </i>
        Tables
      </a>
      <ul class="sub-menu">
        <li>
          <a href="tables_static.html">
            <i class="icon-angle-right">
            </i>
            Static Tables
          </a>
        </li>
        <li>
          <a href="http://envato.stammtec.de/themeforest/melon/tables_dynamic.html">
            <i class="icon-angle-right">
            </i>
            Dynamic Tables (DataTables)
          </a>
        </li>
        <li class="current">
          <a href="tables_responsive.html">
            <i class="icon-angle-right">
            </i>
            Responsive Tables
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="charts.html">
        <i class="icon-bar-chart">
        </i>
        Charts &amp; Statistics
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-folder-open-alt">
        </i>
        Pages
      </a>
      <ul class="sub-menu">
        <li>
          <a href="login.html">
            <i class="icon-angle-right">
            </i>
            Login
          </a>
        </li>
        <li>
          <a href="pages_user_profile.html">
            <i class="icon-angle-right">
            </i>
            User Profile
          </a>
        </li>
        <li>
          <a href="pages_calendar.html">
            <i class="icon-angle-right">
            </i>
            Calendar
          </a>
        </li>
        <li>
          <a href="pages_invoice.html">
            <i class="icon-angle-right">
            </i>
            Invoice
          </a>
        </li>
        <li>
          <a href="404.html">
            <i class="icon-angle-right">
            </i>
            404 Page
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0);">
        <i class="icon-list-ol">
        </i>
        4 Level Menu
      </a>
      <ul class="sub-menu">
        <li class="open-default">
          <a href="javascript:void(0);">
            <i class="icon-cogs">
            </i>
            Item 1
            <span class="arrow">
            </span>
          </a>
          <ul class="sub-menu">
            <li class="open-default">
              <a href="javascript:void(0);">
                <i class="icon-user">
                </i>
                Sample Link 1
                <span class="arrow">
                </span>
              </a>
              <ul class="sub-menu">
                <li class="current">
                  <a href="javascript:void(0);">
                    <i class="icon-remove">
                    </i>
                    Sample Link 1
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="icon-pencil">
                    </i>
                    Sample Link 1
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <i class="icon-edit">
                    </i>
                    Sample Link 1
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-user">
                </i>
                Sample Link 1
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-external-link">
                </i>
                Sample Link 2
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-bell">
                </i>
                Sample Link 3
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);">
            <i class="icon-globe">
            </i>
            Item 2
            <span class="arrow">
            </span>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="javascript:void(0);">
                <i class="icon-user">
                </i>
                Sample Link 1
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-external-link">
                </i>
                Sample Link 1
              </a>
            </li>
            <li>
              <a href="javascript:void(0);">
                <i class="icon-bell">
                </i>
                Sample Link 1
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);">
            <i class="icon-folder-open">
            </i>
            Item 3
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div id="divider" class="resizeable">
</div>
