div.adPops-container
	div.adPops-title
		table
			tr
				each item,index in data.title
					-if(index==0)
						td.tabs.active= item
					-else
						td.tabs= item
	div.adPops-content
		each item,index in data.content
			-if(index==0)
				div.content.active!= item
			-else
				div.content!= item
	div.adPops-push
		i.iconfont.push-out
		p 收起