*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #ccc;
}
img
{
    width: 100%;
}
.logo
{
    width: 100px;
    height: 100px;

    background: url('../images/logo.jpg');
    background-size: cover;
}


