b.property-title 行业属性：
div.industry-property
    li
        span.property-name 养殖周期
        i.iconfont.add-property &#xe629;
    li
        input(type='text',placeholder='例如：养殖周期')
        i.iconfont.add-property &#xe62a;