.msg-plus {
	min-width: 320px;
  	position: fixed;
  	bottom: -1px;
  	right: 2px;
  	background: #fff;
  	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	z-index: 9999;
}
.msg-plus .back-home {
	text-align: left;
  	cursor: pointer;
  	padding: 5px;
  	font-size: 18px;
  	font-weight: bold;
  	font-style: italic;
}
.msg-plus .back-home i.close-icon {
	float: right;
	font-size: 10px;
  	font-weight: normal;
}
.msg-plus .serach-chip {
	padding: 10px;
	border-top: 1px solid #ccc;
  	border-left: 1px solid #ccc;
  	border-right: 1px solid #ccc;
  	text-align: left;
	background: url('../../public/images/bg.png');
	background-position: 80% 70%;
  	color: #fff;
  	font-size: 16px;
  	font-weight: bold;
}
.msg-plus .serach-chip .search-icon {
	margin-right: 5px;
	font-size: 14px;
}
.msg-plus .serach-chip input {
	border: none;
}
.msg-plus .content-tabs, .msg-tabs > table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	cursor: pointer;
}
.msg-plus .content-tabs td {
	border: 1px solid #ccc;
	padding: 5px;
	line-height: 24px;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
}
.msg-tabs > table td{
	border: 1px solid #03a9f4;
	padding: 5px;
	line-height: 24px;
}
.msg-tabs > table td span {
  	float: left;
	font-size: 14px;
  	font-family: "Microsoft YaHei";
  	line-height: 24px;
}
.msg-content {
	width: 320px;
}
.msg-content ul {
	height: 500px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 0;
	text-align: left;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden; 
}
.msg-content ul.content {
	display: none;
}
.msg-content ul.active {
	display: block;
}
.msg-content ul li {
	list-style: none;
	line-height: 20px;
	cursor: default;
	border-bottom: 1px solid #ebebeb;
	padding: 10px 20px;
}
.msg-content ul li td {
	line-height: 20px;
	position: relative;
	word-break: break-all;
}
.msg-content ul li span {
	margin-right: 10px;
}
.msg-content .content-tips {
  	background: #fff9c4;
  	padding: 10px;
  	font-size: 14px;
  	text-align: center;
}
.msg-content .content-tips span.red-num{
  	margin: 0 2px !important;
	color: #e51c23;
	font-size: 16px;
}
.msg-content .item-title {
	margin-bottom: 10px;
	cursor: pointer;
}
.msg-content .item-title span{
	font-size: 16px;
	font-weight: 600;
}
.msg-content .item-title i{
	font-size: 14px;
}
.msg-content .item-title .end-day {
	font-size: 14px;
}
.msg-content .item-title .end-date {
	font-size: 14px;
	font-family:'arial';
}
.msg-content .item-title .day-num {
	margin: 0 2px !important;
	color: #e51c23;
	font-size: 16px;
}
.msg-content .item-title .flag-icon {
	font-weight: normal;
  	color: #03a9f4;
  	display: none;
}
.msg-content .item-title .flag-icon.show {
  	display: inline-block;
}  
.msg-content .item-deal {
	text-align: center;
	margin-top: 10px;
}
.msg-content .item-more {
	margin-left: 20px;
	font-size: 13px;
  	font-family: "SimSun";
  	color: #555;
	/*display: none;*/
}
.msg-content .item-more .item-more-table {
	width: 255px;
}
.item-more-table td.address-map {
	text-align: right;
}
.item-more-table .map-icon {
	width: 50px;
	vertical-align: middle;
}
.item-more-table .text-ellipsis {
	margin: 0;
	overflow: hidden;
	text-overflow:ellipsis;
	width: 250px;
	white-space: nowrap;
}
.item-more-table .text-tooltip {
	background: #555;
  	color: #fff;
  	padding: 10px;
  	margin: 0;
  	position: absolute;
  	width: 230px;
  	top: 20px;
  	display: none;
  	z-index: 999;
}
.msg-content button {
	background: none;
  	border: 1px solid #03a9f4;
  	width:90px;height:26px;line-height:25px;
  	font-size: 14px;
  	cursor: pointer;
  	background: #03a9f4;
  	color:#fff;
}
.msg-content button.no-more {
	margin-right: 25px;
	background: none;
	color: #03a9f4;
}
.msg-content button.can-next:hover {
	background: #039be5;
}
.msg-content button.can-next.disable {
	opacity: 0.65;
	filter: alpha(opacity=65);
	cursor: default;
}
.content-tabs td.active {
	border-bottom: none;
}
.msg-tabs {
	width: 320px;
	background: #fff;
	color: #03a9f4;
}
.msg-tabs i {
	font-size: 20px;
	margin-right: 5px;
	float: left;
	margin-left: 15px;
	line-height: 24px;
}
.msg-tabs td.active {
	border-bottom: 1px solid #03a9f4;
}
.none-data {
	margin: 0;
	padding: 15px;
	font-size: 14px;
	font-family: 'Microsoft YaHei';
}
/*-------------------------------------------------news------------------------------------------------------*/
.yc-logo {
	height: 30px;
	vertical-align: middle;
}
.news-card {
	border-bottom: 1px solid #e0e0e0;
  	margin-bottom: 5px;
  	padding-bottom: 5px;
  	text-align: left;
  	cursor: pointer;
}
.new-card div {
	text-align: left;
}
.news-card > .news-title {
	color: #03a9f4;
  	font-weight: bold;
  	padding: 10px 10px 5px 10px;
  	font-size: 15px;
  	font-family: "SimSun";
}
.news-card > .news-summary {
	padding: 0 10px;
	font-size: 12px;
	color: #555;
	text-indent: 2em;
	line-height: 18px;
}
.news-card > .news-footer {
	padding:5px 10px;
	font-size: 13px;
}
.news-card > .news-footer > .news-source {
	color: #03a9f4;
	margin-right: 20px;
}
.news-card > .news-footer > .news-time {
	color: #999;
	margin-right: 20px;
}
.news-card > .news-footer > .news-tags {
	display: inline-block;
}
.news-card > .news-footer > .news-tags > span {
	border: 1px solid #efb9b9;
  	padding: 0 5px;
  	font-size: 12px;
  	background: #fff;
  	margin-right: 5px;
  	color: #f13f40;
}
/*-------------------------------------news / home  disabled-------------------------------------*/

.msg-plus .home {
	color: #ccc;
  	border: 1px solid #ccc;
}
.msg-plus .news {
	color: #ccc;
	border: 1px solid #ccc;
	border-right: 1px solid #03a9f4;
}
