div.__modal-header
    = opts.title
    i.iconfont.__modal-close &#xe639;
div.__modal-body
div.__modal-footer
    -if(opts.footer)
        != opts.footer
    -else
        button.btn.btn-primary.__modal-close 我知道了