.__modal {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	border: 1px solid #ccc;
	font-family: 'Microsoft Yahei';
	position: fixed;
	left: 50%;
	top: 25%;
	z-index: 10000;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#BCBCBC, Strength=10, Direction=135);
}
.__modal > .__modal-header {
	font-size: 16px;
	padding: 15px;
	font-weight: bold;
	border-bottom: 1px solid #e5e5e5;
	background: #ebebeb;
	background-image: url('../../public/images/bg.png');
	background-position: 80% 70%;
	color: #fff;
	text-align: left;
}
.__modal > .__modal-header > .__modal-close {
	position: absolute;
	right: 15px;
  	font-size: 16px;
  	cursor: pointer;
}
.__modal > .__modal-body {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 20px;
	overflow-y:auto; 
}
.__modal > .__modal-footer {
	padding: 10px;
	text-align: center;
}
/*---------------------bootstrap-------------------------*/
.btn {
	padding: 6px 12px;
	font-size: 14px;
	cursor: pointer;
	border:1px solid transparent;
	border-radius: 4px;
	font-family: 'Microsoft Yahei';
}
.btn-default {
	color: #333;
	background: #fff;
	border-color: #ccc;
}
.btn-default:hover{
	background: #ccc;
}
.btn-primary {
	background-color: #75b9e6;
	border: 1px solid #75b9e6;
	color: #fff;
}
.btn-primary:hover {
	background-color: #52a7e0;
  	border-color: #419fdd;
}
.btn-feedback-more {
	margin-right: 15px;
}
.clearfix:after {
	display: block;
	height: 100%;
	_height:100%;
	clear:both;
	content:'\020';
}
.clearfix {
	zoom:1;
}
/*------------------------------------industry-------------------------------*/
.industyr-info {
	width: 100%;
	font-size: 14px;
	color: #555;
}
.industyr-info td {
	font-size: 14px;
	color: #555;
	line-height: 20px;
	text-align: left;
  	font-family: 'Microsoft Yahei';
}
.industyr-info td.industry-name {
	font-size: 15px;
  	font-weight: bold;
}
.tips-holder {
	position: relative;
	 display: inline-block;
  	*+display: inline;
  	*+zoom: 1;
}
.tips-info {
	position: absolute;
	background: #555;
	color: #fff;
	padding: 10px;
	bottom: -60px;
	left: 25px;
	display: none;
	width: 270px;
}
.tips-info li {
	font-size: 14px;
	line-height: 20px;
	padding-left: 10px;
}
.lvl-tips {
	margin-left: 5px;
}
.__star {
	color: #ffd740;
  	margin: 0 3px;
}
.__unstar {
	color: #e0e0e0;
  	margin: 0 3px;
}
.industry-feedback {
	width: 100%;
  	padding: 6px 0;
  	font-size: 14px;
  	font-family: 'Microsoft Yahei';
}
.btn-feedback-table {
	width: 100%;
}
.btn-feedback-box {
	width: 65px;
}
.page-overlay {
	z-index: 1000;
	position: fixed;
	top:0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
}
