.bg-white.default-font.a-blue.helpme
	.ml-alert.ml-alert-default
		ul.question-list
			li.question-item.Q1
				.question-item-title 提示“请启用ActiveX”？
				.question-item-content 点击下载
					a(href="http://21.32.3.70/apidoc/IEActiveXException/IEActiveXException.doc",target="_blank") 帮助文档
			li.question-item.Q2
				.question-item-title 没有其他浏览器(Chrome、Firefox等高性能浏览器)？
				.question-item-content
					p 推荐使用Chrome或Firefox以获得更好的使用体验，若没有请在下面得表格中选择下载
				table.new-table.new-table-striped.bg-white
					thead
						tr
							th 名称
							th 版本
							th 说明
							th(style="width:30px;") 操作
					tbody
						tr
							td Chrome
							td 41.0.2272.89
							td 推荐浏览器，展示地图、拓扑图等复杂图形化效果最佳，支持win7及以上系统
							td: a(href="http://21.32.3.70/download/chromeV41_installer.zip") 下载
						tr
							td Firefox
							td 38.0.5
							td 页面展示效果好，支持win7及以上系统
							td: a(href="http://21.32.3.70/download/Mozilla_Firefox_38.0.5.zip") 下载
						tr
							td Firefox
							td 12.0
							td 兼容XP SP2操作系统
							td: a(href="http://21.32.3.70/download/Firefox_12.0.exe") 下载
			li.question-item.Q3
				.question-item-title 不知道Chrome或Firefox的安装路径？
				.question-item-content 点击查看
					a(href="http://21.32.3.70/apidoc/addBrowserAddress/addBrowserAddress.htm",target="_blank") 帮助文档