div.left-box
	div.title-top
		img.user-icon(src=require('../../../public/images/user-icon.png')) 
	div.title-item.active 客户概况
	div.title-item 基本信息
	div.title-item 综合指标
	div.title-item 行业关联
	div.title-item 行业统计
	div.title-item 资产信息
	div.title-item 信用卡
	div.title-item POS信息
	div.title-item.finance 理财
div.right-box
	div.info-card
		div.info-detail
			table.info-table
				tr
					td 
						span 客户姓名：
						| 牛志伟
				tr
					td 
						span 月收入：
						| 5000
				tr
					td 
						span 教育水平：
						| 本科
				tr
					td 
						span 是否居住满一年：
						| 满一年
		div.info-title 客户基本信息
	div.info-card
		div.info-title 个贷业务综合指标
		div.info-detail
			table.info-table
				tr
					td 
						span 已拒贷贷款：
						| 5万/3笔
				tr
					td 
						span 在途贷款：
						| 5万/1笔
				tr
					td 
						span 历史逾期次数：
						| 0
	div.info-card
		div.info-title 行业关联信息
		div.info-detail
			table.info-table
				tr
					td 
						span 客户与行业关联度：
						| 0.75	
				tr
					td 
						span 关联度排名：
						| 500
				tr
					td
						span 行业名称：
						| 汽车零部件及配件制造
	div.info-card.card-col2
		div.info-title 按行业统计指标
		div.info-detail
			table.info-table
				tr
					td(colspan='2')
						span 市行名称：
						| 邮政储蓄银行石家庄分行 
				tr
					td 
						span 贷款总计：
						| 2000万/20笔
					td 
						span 在途贷款：
						| 500万/1笔
				tr
					td 
						span 在途贷款余额：
						| 0
					td 
						span 不良贷款笔数：
						| 0
				tr
					td 
						span 不良率：
						| 0
					td 
						span 不良等级：
						| 0
	div.info-card
		div.info-title 资产信息汇总
		div.info-detail
			table.info-table
				tr
					td 
						span 介质数量：
						| 150
				tr
					td 
						span 被司法查询次数：
						| 0
				tr
					td 
						span 最早开户日期：
						| 2014/12/24
	div.info-card
		div.info-title 信用卡信息
		div.info-detail
			table.info-table
				tr
					td 
						span 信用卡数量：
						| 5
				tr
					td 
						span 最晚注销日期：
						| 2012/06/15
				tr
					td 
						span 逾期天数：
						| 10
				tr
					td
						span 近一年交易总金额：
						| 10万
	div.info-card
		div.info-title POS信息
		div.info-detail
			table.info-table
				tr
					td 
						span 商户名称：
						| 商户联保贷款
				tr
					td 
						span 拥有POS数量：
						| 100
				tr
					td
						span 营业执照注册地址：
						| 石家庄市长安区乐泰中心
	div.info-card
		div.info-title 理财信息
		div.info-detail
			table.info-table
				tr
					td 
						span 购买基金：
						| 5万
				tr
					td 
						span 购买国债：
						| 5万
				tr
					td
						span 购买保险：
						| 2000万
	div(style='clear:both;')