//-
	div.tabs-title
		div.title-item.active 基本信息
		div.title-item 综合指标
		div.title-item 行业关联
		div.title-item 行业统计
		div.title-item 资产信息
		div.title-item 信用卡
		div.title-item POS信息
		div.title-item.finance 理财
div#tagsList.tabs-content
	each item in tags
		a!= item


